* {
    margin: 0;
    padding: 0;
}
.container {
    background: url(../image/container/container-bg.jpg);
}
.wrap {
    width: 75%;
    margin: 0 auto;
    height: 100vh;
}
.header {
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url(../image/header/navbar-bg.jpg);
    margin: 0 auto;
    font-family: Abibas;
}
.header-logo {
    width: 13%;
    height: auto;
}
.navbar-link {
    margin-left: 15px;
    text-decoration: none;
    color: #FFC011;
    font-size: 36px;
}
.header-contact {
    font-size: 20px;
    color: #fff;
}

.hero {
    height: 100%;
    background: url('../image/hero/kran.png');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: Bradley;
}
.hero-title {
    font-size: 132px;
    color: #FFC011;
    font-weight: normal;
}
.hero-subtitle {
    font-size: 50px;
    color: #FFC011;
}
.contact {
    background: url('../image/contact/bg.png');
}
.contact-title {
    font-size: 132px;
    color: #FFC011;
    font-family: Bradley;
    font-weight: normal;
}
.contact-subtitle {
    font-size: 50px;
    font-family: Bradley;
    color: #FFC011;
}
.about {
    justify-content: flex-start;
    height: 100%;
    background: url('../image/about/about-bg.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.about-title {
    font-size: 72px;
    font-family: Bradley;
    color: #FFC011;
}
.about-img {
    width: 35%;
    height: auto;
}
.about-content {
    position: absolute;
    color: #000;
    width: 29%;
    background: url(../image/about/holst.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-size: 15px;
}
.about-content__elem{
    display: flex;
}
.about-content__elem-img {
    display: block;
    width: 20%;
    height: 20%;
    margin: 0 auto;
}