* {
    margin: 0;
    padding: 0;
}
.container {
    background: url(../image/container/container-bg.jpg);
}
.wrap {
    width: 75%;
    margin: 0 auto;
    height: 800px;
}
.header {
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url(../image/header/navbar-bg.jpg);
    margin: 0 auto;
    font-family: Abibas;
}
.header-logo {
    width: 20%;
    height: auto;
}
.navbar-link {
    margin-left: 15px;
    text-decoration: none;
    color: #FFC011;
    font-size: 36px;
}
.header-contact {
    font-size: 20px;
    color: #fff;
}

.hero {
    min-height: 100%;
    background: url('../image/hero/kran.png');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.hero-title {
    font-size: 80px;
    color: #FFC011;
    font-weight: normal;
    font-family: Porkchop;
    text-align: center;
}
.hero-subtitle {
    font-size: 40px;
    color: #FFC011;
    font-family: Abibas;
    text-align: center;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: url('../image/contact/bg.png');
    height: 100%;
}
.contact-title {
    width: 95%;
    font-size: 80px;
    color: #FFC011;
    font-family: Porkchop;
    text-align: center;
    font-weight: normal;
}
.contact-subtitle {
    font-size: 40px;
    font-family: Abibas;
    text-align: center;
    color: #FFC011;
}
.contact-content {
    display: flex;
    align-items: center;
    justify-content: center;    
}
.contact-content__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-content__left-map_wpap {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-content__left-map {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    padding: 20px;
    min-height: 40px;
    border-radius: 10px;
    background: url(../image/container/container-bg.jpg);
    cursor: pointer;
}
.contact-content__left-map_title {
    font-family: Abibas;
    color: #FFC011;
    font-size: 26px;
}
.contact-content__left-img {
    width: 35%;
    height: auto;
}
.contact-content__right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-content__right-content {
    width: 80%;
    background: url(../image/contact/holst.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}
.contact-content__right-content-title {
    font-size: 35px;
    color: #FF0000;
    -webkit-text-stroke: 0.3px #fff;
    text-align: center;
    font-family: Abibas;
    font-weight: 900;
}
.contact-content__right-content_text {
    text-align: center;
    font-family: Abibas;
    color: #FFC011;
    font-size: 25px;
}
.contact-content__right-content_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../image/container/container-bg.jpg);
    cursor: pointer;
    font-size: 25px;
    color: #FF0000;
    -webkit-text-stroke: 0.1px #fff;
    text-align: center;
    font-family: Abibas;
    font-weight: 900;
    border-radius: 10px;
    min-height: 25px;
    padding: 10px;
    outline: none;
    border: none;
}
.about {
    justify-content: flex-start;
    height: 100%;
    background: url('../image/about/about-bg.png');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about-title {
    font-size: 74px;
    color: #FFC011;
    font-family: Porkchop;
    font-weight: normal;
    text-align: center;
}
.about-img {
    width: 35%;
    height: auto;
}
.about-content_wrap {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 115px;
    background: url(../image/about/opisanie.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: 550px;
}
.about-content {
    color: #000;
    width: 80%;
    background: url(../image/about/holst.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-size: 15px;
    border-radius: 10px;
    padding: 3px;
}
.about-content__elem{
    display: flex;
    align-items: center;
}
.about-content__elem-text {
    font-family: Abibas;
    font-size: 16px;
    margin-bottom: 4px;
}
.about-content__elem-img {
    display: block;
    width: 38%;
    height: 20%;
    margin: 0 auto;
    border-radius:10px;
}
.beer {
    background: url(../image/beer/beer-bg.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-bottom: 30px;
}
.beer-title {
    font-size: 80px;
    color: #FFC011;
    font-family: Porkchop;
    font-weight: normal;
    text-align: center;
}
.beer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20px;
}
.beer-elem {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.beer-elem__title {
    font-size: 70px;
    color: #FFC011;
    font-family: Porkchop;
    font-weight: normal;
    text-align: center;
}
.beer-elem__description {
    width: 70%;
    color: #fff;
    font-family: Abibas;
    text-align: center;
}
.desk {
    background: url(../image/desk/desk-bg.png);
    background-size: cover;
    height: 100%;
}
.desk-title {
    font-size: 80px;
    color: #FFC011;
    font-family: Porkchop;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
}
.desk-content {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
}
.desk-content__elem {
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: url(../image/about/holst.jpg);
}
.desk-content__elem-img {
    width: 80%;
    height: auto;
}
.menu {
    background: url('../image/menu/book.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;
    height: 100%;
}
.menu-title {
    font-size: 80px;
    color: #FFC011;
    font-family: Porkchop;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
}
.menu-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery {
    height: 100%;
    background: rgba(0, 0, 0, 0.9)
}
.gallery-title {
    font-size: 80px;
    color: #FFC011;
    font-family: Porkchop;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.footer-contact {
    width: 100%;
    height: 70%;
    background: url(../image/header/navbar-bg.jpg);
}
.footer-contact__title {
    font-size: 80px;
    color: #FFC011;
    font-family: Porkchop;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
}
.footer-contact__wrap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-contact__left {
    width: 35%;
    background: url(../image/contact/holst.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}
.footer-contact__left-title {
    font-size: 30px;
    color: #FFC011;
    font-family: Porkchop;
    font-weight: normal;
    text-align: center;
}
.footer-contact__left-description {
    font-size: 25px;
    color: #FF0000;
    -webkit-text-stroke: 0.1px #fff;
    text-align: center;
    font-family: Abibas;
    font-weight: 900;
}
.footer-contact__right {
    border-radius: 40px;
    width: 450px;
    height: 400px;
}
.footer-description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    background: #000;
}
.modal {
    margin: 0 auto;
    width: 500px;
    height: 600px;
    background: url(../image/modal/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 15%;
    left: 35%;
    z-index: 10;
}
/* .modal::after{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
} */
.modal-content {
    width: 80%;
    margin: 0 auto;
}
.modal-title {
    font-family: Abibas;
    color: #000;
    font-size: 38px;
    margin-bottom: 50px;
    text-align: center;
}
.modal-form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.modal-form_input {
    font-family: Abibas;
    color: #000;
    font-size: 26px;
    margin-bottom: 15px;
    background: none;
    border: 1px solid #2c2c2c;
    border-radius: 5px;
    outline: none;
    padding-left: 13px;
}

.modal-btn {
    justify-content: center;
    align-items: center;
    background: url(../image/container/container-bg.jpg);
    cursor: pointer;
    font-size: 25px;
    color: #FF0000;
    -webkit-text-stroke: 0.1px #fff;
    text-align: center;
    font-family: Abibas;
    font-weight: 900;
    border-radius: 10px;
    min-height: 25px;
    padding: 10px;
    outline: none;
}


@media (max-width: 1500px) {
    .contact-title {
        font-size: 70px;
    }
    .contact-subtitle {
        font-size: 33px;
    }
    .contact-content__left-map {
        width: 35%;
    }
    .about-title {
        font-size: 65px;
    }
    .beer-title {
        font-size: 65px;
    }
}
@media (max-width: 1350px) {
    .hero-subtitle {
        font-size: 32px;
    }
    .contact-content__left-map_title {
        font-family: Abibas;
        color: #FFC011;
    }
    /* .about-content__elem-img {
        width: 32%;
    } */
    .about-content__elem-text {
        font-size: 15px;
    }
    .about-content_wrap {
        padding-top: 11px;
    }
    .desk-content__elem {
        width: 270px;
        height: 270px;
    }
    .beer-elem {
        width: 25%;
        justify-content: flex-start;
    }
    .beer-elem__img {
        width: 90%;
        height: auto;
    }
    
}
@media (max-width: 1300px) {
    .navbar-link {
        font-size: 31px;
    }
    .contact-title {
        font-size: 62px;
    }
    .contact-subtitle {
        font-size: 29px;
    }
    .contact-content__right-content-title {
        font-size: 28px;
        -webkit-text-stroke: 0.1px #fff;
    }
    .contact-content__right-content_text {
        font-size: 20px;
    }
    .contact-content__left-map_title {
        font-size: 23px;
    }
    .about-title {
        font-size: 58px;
    }
    .about-content {
        width: 85%;
    }
    .about-content_wrap {
        padding-top: 16px;
    }
    .beer-title {
        font-size: 60px;
    }
    .beer-elem__title {
        font-size: 60px;
    }
    .beer-elem__description {
        width: 90%;
        font-size: 15px;
    }
    .footer-contact__right {
        border-radius: 40px;
        width: 380px;
        height: 380px;
    }
}
@media (max-width: 1200px) {
    .contact-content__left-img {
        width: 25%;
        height: auto;
    }
    .contact-content__right-content {
        padding: 22px;
    }
    .about-content {
        width: 92%;
    }
    .beer {
        justify-content: center;
    }
    .beer-title {
        font-size: 55px;
    }
    
    .beer-elem__title {
        font-size: 50px;
    }
    
    .beer-elem__description {
        width: 76%;
        font-size: 14px;
    }
    .beer-elem__img {
        width: 90%;
        height: auto;
    }
}
@media (max-width: 1150px) {
    .desk-content__elem {
        width: 230px;
        height: 230px;
    }
    .beer-elem {
        width: 25%;
        justify-content: flex-start;
    }
    .beer-elem__title {
        font-size: 50px;
    }
    .beer-elem__description {
        width: 76%;
        font-size: 14px;
    }
    
}
@media (max-width: 800px) {
    
}
@media (max-width: 756px) {
    
}
@media (max-width: 500px) {
    
}
@media (max-width: 300px) {
    
}
