* {
    margin: 0;
    padding: 0;
}
html {
    overflow-x: hidden;
    
}
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-track-piece  {
    background-color: rgb(49, 49, 49);
}

::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #FFC011;
}
@font-face {
    font-family: "Pointedly";   
    src: url("../fonts/Pointedly.otf");
}
.container {
    background: url(../image/container/container-bg.jpg);
}
.wrap {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    
    height: 800px;
    background: url(../image/menu/bg.jpg);
}
.header {
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(../image/header/navbar-bg.jpg);
    margin: 0 auto;
    font-family: Abibas;
    padding: 5px 20px;
}
.header-logo {
    max-width: 200px;
    width: 20%;
    height: auto;
}
.navbar {
    display: flex;
}
.navbar-link {
    margin-left: 25px;
    text-decoration: none;
    color: #FFC011;
    font-size: 36px;
    transition: .3s;
}
.navbar-link:hover {
    transform: scale(1.1)
}
.header-contact {
    font-size: 20px;
    color: #fff;
}
#burger {
    display: none;
}

.hero {
    min-height: 100%;
    background: url('../image/hero/kran.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.hero-title {
    padding: 0px 20px;
    font-size: 100px;
    color: #FFC011;
    font-weight: normal;
    font-family: "Pointedly";
    letter-spacing: 4px;
    text-align: center;
}
.hero-subtitle {
    font-size: 40px;
    color: #FFC011;
    font-family: Abibas;
    text-align: center;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: url('../image/contact/bg.jpg');
    height: 100%;
}
.contact-title {
    width: 95%;
    font-size: 80px;
    color: #FFC011;
    font-family: "Pointedly";
    text-align: center;
    font-weight: normal;
}
.contact-subtitle {
    font-size: 40px;
    font-family: Abibas;
    text-align: center;
    color: #FFC011;
}
.contact-content {
    display: flex;
    align-items: center;
    justify-content: center;    
}
.contact-content__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-content__left-map_wpap {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-content__left-map {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    padding: 20px;
    min-height: 40px;
    border-radius: 10px;
    background: url(../image/container/container-bg.jpg);
    cursor: pointer;
}
.contact-content__left-map_title {
    font-family: Abibas;
    color: #FFC011;
    font-size: 26px;
}
.contact-content__left-img {
    width: 35%;
    height: auto;
}
.contact-content__left-map img {
    transition: .4s;
}
.contact-content__left-map:hover img {
    transform: scale(1.15) translateY(-8px);
}
.contact-content__left-map span {
    transition: .3s;
}
.contact-content__left-map:hover span {
    color: #ffd767;
}
.contact-content__right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-content__right-content {
    width: 80%;
    background: url(../image/contact/holst.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}
.contact-content__right-content-title {
    font-size: 35px;
    color: #FF0000;
    -webkit-text-stroke: 0.3px #fff;
    text-align: center;
    font-family: Abibas;
    font-weight: 900;
    letter-spacing: 2px;
}
.contact-content__right-content_text {
    text-align: center;
    font-family: Abibas;
    color: #FFC011;
    font-size: 25px;
}
.contact-content__right-content_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../image/container/container-bg.jpg);
    cursor: pointer;
    font-size: 25px;
    color: #FF0000;
    -webkit-text-stroke: 0.1px #fff;
    text-align: center;
    font-family: Abibas;
    font-weight: 900;
    border-radius: 10px;
    min-height: 25px;
    padding: 10px;
    outline: none;
    border: none;
    transition: .3s;
    letter-spacing: 2px;
}
.contact-content__right-content_btn:hover {
    transform: scale(1.1);
}

.contact-content__left-adres {
    width: 400px;
    background-image: url(../image/contact/adres.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    padding: 40px 50px 20px 50px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.contact-content__left-element {
    font-size: 25px;
    font-family: Abibas;
    text-align: center;
}

.contact-content__left-element_title {
    font-size: 42px;
}

.about {
    box-sizing: border-box;
    justify-content: flex-start;
    height: 100%;
    background: url('../image/about/about-bg.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0px 20px 0px;
}
.about-title {
    font-size: 74px;
    color: #FFC011;
    font-family: "Pointedly";
    font-weight: normal;
    text-align: center;
}
.about-img {
    width: 35%;
    height: auto;
}
.about-content_wrap {
    box-sizing: border-box;
    padding: 5px 20px;
    max-width: 400px;
   
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 115px;
    background: url(../image/about/opisanie.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: 550px;

    transform-origin: bottom;
    transform: scale(1.15);
}
.about-content {
    color: #000;
    
    background: url(../image/about/holst.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-size: 15px;
    border-radius: 10px;
    padding: 3px;
}
.about-content__elem{
    display: flex;
    align-items: center;
}
.about-content__elem-text {
    font-family: Abibas;
    font-size: 16.5px;
    margin-bottom: 4px;
}
.about-content__elem-img {
    display: block;
    width: 38%;
    height: 20%;
    margin: 0 auto;
    border-radius:10px;
}
.beer {
    padding-top: 40px;
    background: url(../image/beer/beer-bg.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-bottom: 30px;
}
.wrap-beer {
    height: auto;
}
.beer-title {
    font-size: 80px;
    color: #FFC011;
    font-family: "Pointedly";
    font-weight: normal;
    text-align: center;
}
.beer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-bottom: 20px;
}
.beer-elem {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.beer-elem__title {
    font-size: 70px;
    color: #FFC011;
    font-family: Porkchop;
    font-weight: normal;
    text-align: center;
}
.beer-elem__description {
    width: 70%;
    color: #fff;
    font-family: Abibas;
    text-align: center;
    font-size: 18px;
}
.beer-elem__img {
    max-width: 300px;
}
.desk {
    padding-top: 40px;
    background-image: url(../image/desk/desk-bg.jpg);
    background-size: cover;
    height: 100%;
}

.desk-title {
    font-size: 80px;
    color: #FFC011;
    font-family: "Pointedly";
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
}
.desk-content {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
    
}
.desk-content__elem {
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: url(../image/about/holst.jpg);

}
.desk-content__elem:hover img{
    transform: translateY(-10px);
}
.desk-content__elem-img {
    cursor: pointer;
    transition: .3s;
    width: 80%;
    height: auto;
}
.wrap_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu {
    background: url('../image/menu/book.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;
    height: 100%;
}
.menu_title {
    font-size: 80px;
    color: #FFC011;
    font-family: "Pointedly";
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 30px;
}
.menu-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-book_link {
    font-size: 25px;
    cursor: pointer;

}
.menu-book_link:hover {
    color: rgb(119, 87, 0);
}
.b-wrap>div {
    width: 100%;
}
.menu_page__content {
    line-height: 1.5em;
    padding: 10px;
}
.menu_page__element {
    margin-bottom: 15px;
}
.menu_page__element__title {
    font-size: 17px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.menu_page__element__price {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 14px;
}
.menu_page__element__title_wrapper {
    display: flex;
}
.menu_page__element__gr {
    font-size: 10px;
    margin-left: 5px;
    font-family: 'Open Sans';
    font-weight: bold;
}
.menu_page__element_description {
    font-size: 14px;
}
.menu_first-page {
    padding: 20px;
    
}
.menu-mobail {
    width: 80%;
    background: url(../image/menu/holst2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.menu-mobail__content {
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    max-width: 500px;
    max-height: 650px;
    padding-top: 40px;
}
.gallery {
    height: 100%;
    background: rgba(0, 0, 0, 0.9)
}
.gallery-title {
    font-size: 80px;
    color: #FFC011;
    font-family: "Pointedly";
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.footer-contact {
    width: 100%;
    height: 100%;
    background: url(../image/contacts_bg.jpg);
    background-size: contain;
}
.footer-contact__title {
    font-size: 80px;
    color: #FFC011;
    font-family: "Pointedly";
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
}
.footer-contact__wrap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-contact__left {
    width: 35%;
    background: url(../image/contact/holst.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0px 0px 30px black;

}
.footer-contacts_item {
    font-size: 24px;
    font-family: Abibas;
    color: #FFC011;
    margin-bottom: 30px;
    text-align: center;
}
.footer-contact__left-title {
    font-size: 30px;
    color: #FFC011;
    font-family: Porkchop;
    font-weight: normal;
    text-align: center;
}
.footer-contact__left-description {
    font-size: 25px;
    color: #FF0000;
    -webkit-text-stroke: 0.1px #fff;
    text-align: center;
    font-family: Abibas;
    font-weight: 900;
}
.footer-contacts_links-wrapper {
    max-width: 250px;
    width: 75%;
    display: flex;
    justify-content: space-between;
}
.footer-contacts_link {
    max-width: 40px;
}
.footer-contact__right {
    border-radius: 40px;
    width: 450px;
    height: 400px;
}
.footer-description {
    display: flex;
    width: 100%;
    height: 8%;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.9)
}
.footer-description__text {
    color: #FFC011;
    font-family: 'Open Sans';
    font-size: 18px;
}
.modal_wrapper {
    transition: .4s;
    opacity: 0;
    transform: translateY(100px);
    z-index: 100;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal {
    width: 500px;
    height: 600px;
    background: url(../image/modal/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.modal-content {
    width: 80%;
    margin: 0 auto;
}
.modal-title {
    font-family: Abibas;
    color: #000;
    font-size: 38px;
    margin-bottom: 50px;
    text-align: center;
}
.modal-form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.modal-form_input {
    font-family: Abibas;
    color: #000;
    font-size: 26px;
    margin-bottom: 15px;
    background: none;
    border: 1px solid #2c2c2c;
    border-radius: 5px;
    outline: none;
    padding-left: 13px;
}

.modal-btn {
    justify-content: center;
    align-items: center;
    background: url(../image/container/container-bg.jpg);
    cursor: pointer;
    font-size: 25px;
    color: #FF0000;
    -webkit-text-stroke: 0.1px #fff;
    text-align: center;
    font-family: Abibas;
    font-weight: 900;
    border-radius: 10px;
    min-height: 25px;
    padding: 10px;
    outline: none;

    transition: .3s;
}
.modal-btn:hover {
    transform: scale(1.1);
}

.modal-after_wrapper {
    transition: .4s;

    transform: translateY(100px);
    z-index: 100;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
   
    z-index: 300;
}
.modal-after {
    text-align: center;
    width: 400px;
    height: 400px;
    background: url(../image/contact/holst.png);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: Abibas;
    color:#FFC011;
}
.btn_up{
    right: 10px;
    margin: 0;
    font-size: 90px;
    position: fixed;
    bottom: 50px;
    outline:none;
    color:#ffd200;
    line-height: 30px;
    text-decoration: none;
    padding: 0px 0 0 28px;
    cursor:pointer;
  }

  
.warning-wrapper {
    opacity: 0;
    transition: .6s;
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFC011;
    display: none;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 40px;
}

.warning {
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    max-width: 600px;
    padding-top: 30px;
}

.warning__content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.warning__content_text {
    font-size: 40px;
    font-family: Abibas;
    margin-bottom: 80px;
}

.warning__content_btns {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    font-family: Abibas;
    width: 70%;
}
.warning__content_btn {
    transition: .4s;
}
.warning__content_btn:hover {
    transform: scale(1.1);
}

.book_wrapper {
    display: none;
}

@media (max-width: 2000px) {
    .book_wrapper{
        transform: scale(1.2);
    }
}
@media (max-width: 1500px) {
    .contact-title {
        font-size: 70px;
    }
    .contact-subtitle {
        font-size: 33px;
    }
    .contact-content__left-map {
        width: 35%;
    }
    .about-title {
        font-size: 65px;
    }
    .beer-title {
        font-size: 65px;
    }
}
@media (max-width: 1350px) {
    .hero-subtitle {
        font-size: 32px;
    }
    .contact-content__left-map_title {
        font-family: Abibas;
        color: #FFC011;
    }
    /* .about-content__elem-img {
        width: 32%;
    } */
    .desk-content__elem {
        width: 270px;
        height: 270px;
    }
    .beer-elem {
        width: 25%;
        justify-content: flex-start;
    }
    .beer-elem__img {
        width: 90%;
        
        height: auto;
    }
    
}
@media (max-width: 1300px) {
    .navbar-link {
        font-size: 31px;
    }
    .contact-title {
        font-size: 62px;
    }
    .contact-subtitle {
        font-size: 29px;
    }
    .contact-content__right-content-title {
        font-size: 28px;
        -webkit-text-stroke: 0.1px #fff;
    }
    .contact-content__right-content_text {
        font-size: 20px;
    }
    .contact-content__left-map_title {
        font-size: 23px;
    }
    .about-title {
        font-size: 58px;
    }
    .beer-title {
        font-size: 60px;
    }
    .beer-elem__title {
        font-size: 60px;
    }
    .beer-elem__description {
        width: 90%;
        font-size: 18px;
    }
    .footer-contact__right {
        border-radius: 40px;
        width: 380px;
        height: 380px;
    }
}
@media (max-width: 1200px) {
    .book_wrapper {
        transform: scale(1);
    }
    .contact-content__left-img {
        width: 25%;
        height: auto;
    }
    .contact-content__right-content {
        padding: 22px;
    }
    .beer {
        justify-content: center;
    }
    .beer-title {
        font-size: 55px;
    }
    
    .beer-elem__title {
        font-size: 50px;
    }
    
    .beer-elem__description {
        width: 76%;
        font-size: 16px;
    }
    .beer-elem__img {
        width: 90%;
        height: auto;
    }
}
@media (max-width: 1150px) {
    .desk-content__elem {
        width: 230px;
        height: 230px;
    }
    .beer-elem {
        width: 30%;
        justify-content: flex-start;
    }
    .beer-elem__title {
        font-size: 50px;
    }
    .beer-elem__description {
        width: 76%;
        font-size: 16px;
    }

    .book_wrapper {
        
        transform: scale(0.7);
       
    }
    
}

@media (max-width: 1000px) {
    .about-content_wrap {
        transform: none;
    }
    .desk-content__elem {
        width: 180px;
        height: 180px;
    }
}

@media (max-width: 800px) {
    .book_wrapper {
        display: none;
    }
    .modal {
        transform: scale(0.7);
        
    }
    .hero-title {
        font-size: 60px;
    }
    .navbar-link {
        font-size: 22px;
    }
    .contact-title {
        font-size: 40px;
    }
    .contact-subtitle {
        font-size: 20px;
    }
    .contact-content {
        flex-direction: column;
    }
    .contact-content__right {
       width: 100%;
    }
    .contact-content__left {
       width: 100%;
    }
    .contact-content__right-content {
        height: auto;
    }
    .contact-content__left-map {
        margin-bottom: 20px;
    }
    .about {
        justify-content: center;
    }
    .about-title {
        font-size: 45px;
    }
    .desk-title {
        font-size: 60px;
    }
    .desk-content__elem {
        width: 180px;
        height: 180px;
    }
    .wrap-beer {
        height: auto;
    }
    .beer-content {
        flex-direction: column;
    }
    .beer-elem {
        width: 100%;
    }
    .beer-elem__img {
        width: 65%;
        
        height: auto;
    }
    .beer-elem__description {
        width: 90%;
        font-size: 18px;
    }
    .footer-contact__wrap {
        flex-direction: column;
    }
    .footer-contact__left {
        width: 50%;
        margin-bottom: 30px;
    }
    .footer-contact {
        height: auto;
    }
    .book_wrapper {
        transform: scale(0.55);
    }

    /* navmenu adaptive */
    .navbar {
        display: none;

        background-color: rgba(0, 0, 0, 0.9);
        padding-top: 40px;
        position: fixed;
        top:0;
        left: 0;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        z-index: 110;
    }
    .navbar-link {
        font-size: 40px;
        margin-bottom: 40px;
    }
    #burger {
        background-image: url(../image/burger.png);
        background-size: cover;
        display: block;
        width: 40px;
        height: 40px;
        cursor: pointer;
        filter: invert(75%) sepia(69%) saturate(1272%) hue-rotate(347deg) brightness(104%) contrast(101%);
    }
    
}
@media (max-width: 756px) {

    .about-content_wrap {
        margin: 0 auto;

    }
    
    
}
@media (max-width: 550px) {
    .warning__content_text {
        margin-bottom: 40px;
        font-size: 30px;
    }
    .warning__content_btns {
        font-size: 40px;
    }
    #gallery .wrap {
        height: 500px;
    }
    #desk .wrap {
        height: 1000px;
    }
    .modal {
        width: 430px;
        height: 535px;
    }
    .about-content_wrap {
        background: none;
    }
    .book_wrapper {
        transform: scale(0.38);
    }
    .contact-content__left-adres {
        transform: scale(1);
        width: 100%;
        background-position: center;
        height: 250px;
    }
    .contact-content__right-content {
        transform: scale(0.8);
    }
    .contact-content__left-element {
        font-size: 20px;
    }
    .contact-content__left-element_title {
        font-size: 30px;
    }
    .footer-contact__right {
        width: 300px;
        height: 300px;
    }
    
}
@media (max-width: 380px) {
    .warning__content_text {
        margin-bottom: 10px;
        font-size: 20px;
    }
    .warning__content_btns {
        font-size: 30px;
    }
    .footer-contacts_item {
        margin-bottom: 20px;
    }
    .desk-content__elem {
        width: 150px;
        height: 150px;
    }
    .book_wrapper {
        transform: scale(0.25);
    }
    .modal{
        justify-content: flex-start;
        padding-top: 80px;
    }
    .modal-title {
        font-size: 26px;
    }
}




/* FOR BOOK */


 
 
.booklet           {
	width:900px;
	height:607px;
	position:relative;
	margin:0 auto 10px;
	-moz-box-shadow:0px 0px 1px #fff;
	-webkit-box-shadow:0px 0px 1px #fff;
	box-shadow:0px 0px 1px #fff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.booklet .b-wrap {
    font-family: Abibas;
    background-image: url('../image/menu/holst.jpg')
    !important;
    background-size: cover;
    background-repeat: no-repeat;
    
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.booklet .b-wrap-left  {
	
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.booklet .b-wrap-right {
	background:#efefef url(../images/right_bg.jpg) no-repeat top left;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.booklet .b-counter {
	bottom:10px;
	position:absolute;
	display:block;
	width:90%;
	height:20px;
	border-top:1px solid #ddd;
	color:#222;
	text-align:center;
	font-size:12px;
	padding:5px 0 0;
	background:transparent;
	-moz-box-shadow:0px -1px 1px #fff;
	-webkit-box-shadow:0px -1px 1px #fff;
	box-shadow:0px -1px 1px #fff;
	opacity:0.8;
}
.booklet div.b-counter {
    -moz-box-shadow:none;
	-webkit-box-shadow:none;
    box-shadow:none;
    border-top:none;
    background: none;
}
.book_wrapper{
	padding-top:50px;
	width:905px;
	height:540px;
	position:relative;
	background:transparent url(../images/bg.png) no-repeat 9px 27px;
}
.book_wrapper h1{
	color:orange;
	margin:5px 5px 5px 15px;
	font-size:24px;
	background:transparent url(../images/h1.png) no-repeat bottom left;
	padding-bottom:7px;
    text-transform: uppercase;
    font-weight: normal;
}
.book_wrapper p{
	font-size:15px;
	margin:5px 5px 5px 15px;
}
.book_wrapper a.article,
.book_wrapper a.demo{
	background:transparent url(../images/circle.png) no-repeat 50% 0px;
	display:block;
	width:95px;
	height:41px;
	text-decoration:none;
	outline:none;
	font-size:16px;
	color:#555;
	float:left;
	line-height:41px;
	padding-left:47px;
}
.book_wrapper a.demo{
	margin-left:50px;
}
.book_wrapper a.article:hover,
.book_wrapper a.demo:hover{
	background-position:50% -41px;
	color:#13386a;
}
.book_wrapper img{
	margin:10px 0px 5px 35px;
	width:300px;
	padding:4px;
}
.booklet .b-wrap-right img{
	border:1px solid #E6E3C2;
}
a#next_page_button,
a#prev_page_button{
   
	display:none;
	position:absolute;
	width:41px;
	height:40px;
	cursor:pointer;
	margin-top:-20px;
    top:50%;
    background: url(../image/menu/pngwave.png);
    background-size: contain;
    transition: .3s;
    filter: invert(71%) sepia(72%) saturate(756%) hue-rotate(347deg) brightness(104%) contrast(102%);
}

a#prev_page_button{
	left:-30px;
}
a#next_page_button{
	right:-30px;
	transform: rotateZ(180deg);
}
a#next_page_button:hover{
	transform: rotateZ(180deg) scale(1.2);
}
a#prev_page_button:hover{
	transform:  scale(1.2);
}